# {{ ansible_managed }} {{ date }}
PIHOLE_INTERFACE={{ ansible_default_ipv4['interface'] }}
IPV4_ADDRESS={{ ansible_default_ipv4['address'] }}/16
IPV6_ADDRESS={{ ansible_default_ipv6['address'] }}/{{ ansible_default_ipv6['prefix'] }}
QUERY_LOGGING=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
WEBPASSWORD=9eb05e7f83028c8341c3627f5491b385a0fd00e3de2898301866548496c99b49
BLOCKING_ENABLED=true
DHCP_ACTIVE=false
DNSMASQ_LISTENING=single
PIHOLE_DNS_1=127.0.0.1#5353
PIHOLE_DNS_2=208.67.222.222
PIHOLE_DNS_3=208.67.220.220
PIHOLE_DNS_4=2620:119:35::35
PIHOLE_DNS_5=2620:119:53::53
PIHOLE_DNS_6=9.9.9.9
PIHOLE_DNS_7=149.112.112.112
PIHOLE_DNS_8=2620:fe::fe
PIHOLE_DNS_9=2620:fe::9
PIHOLE_DNS_10=9.9.9.10
PIHOLE_DNS_11=149.112.112.10
PIHOLE_DNS_12=2620:fe::10
PIHOLE_DNS_13=2620:fe::fe:10
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
CONDITIONAL_FORWARDING=false
